@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');


body {
    background-color: bisque;
}

.container1 {
    max-width: 640px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    
}

