@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

.form{
    display: block;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: #096675dd;
}

.resultado{
    display: block;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: #0a7b62dd;
}
