@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');


body {
    background: burlywood;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    font-size: 20px;
}


input[type="text"] {
    width: 180px;            /* Largura do input */
    height: 15px;            /* Altura do input */
    font-size: 16px;         /* Tamanho do texto */
    padding: 5px 10px;       /* Espaçamento interno */
    border: 2px solid #101111; /* Cor da borda */
    border-radius: 10px;     /* Deixa o input arredondado */
    outline: none;           /* Remove o contorno ao focar */
    transition: 0.3s; 
}

input[type="date"] {
    width: 180px;            /* Largura do input */
    height: 15px;            /* Altura do input */
    font-size: 16px;         /* Tamanho do texto */
    padding: 5px 10px;       /* Espaçamento interno */
    border: 2px solid #101111; /* Cor da borda */
    border-radius: 10px;     /* Deixa o input arredondado */
    outline: none;           /* Remove o contorno ao focar */
    transition: 0.3s; 
}

input[type="number"] {
    width: 180px;            /* Largura do input */
    height: 15px;            /* Altura do input */
    font-size: 16px;         /* Tamanho do texto */
    padding: 5px 10px;       /* Espaçamento interno */
    border: 2px solid #101111; /* Cor da borda */
    border-radius: 10px;     /* Deixa o input arredondado */
    outline: none;           /* Remove o contorno ao focar */
    transition: 0.3s; 
}

input[type="radio"] {
    margin-right: 0px; /* Espaço à direita do radio button */
  }
  
  label {
    margin-left: 5px; /* Espaço à esquerda do label */
  }


  #botao {
    padding: 10px 20px;   /* Espaçamento interno */
    font-size: 12px;      /* Tamanho do texto */
    background-color: #3498db; /* Cor de fundo azul */
    color: white;         /* Cor do texto branca */
    border: none;         /* Remove a borda */
    border-radius: 20px;  /* Deixa o botão arredondado */
    cursor: pointer;      /* Muda o cursor ao passar o mouse */
    transition: 0.3s;     /* Suaviza animações */
    float: right;         /* Coloca no canto direito da página */
}

.tabela {
    max-width: 640px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    font-size: 20px;
}

/* Remove as setas no Chrome, Safari, Edge e Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove as setas no Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


.container input {
    width: 90%; /* Faz os inputs ocuparem toda a largura do container */
    padding: 8px; /* Melhora a aparência */
    margin-bottom: 10px; /* Espaço entre os campos */
}